{% extends 'base.html.twig' %}

{% block title %}New Acceptation{% endblock %}

{% block body %}
    <h1 class="text-center">Crée un nouveau critère d'acceptation</h1>

    {{ include('acceptation/_form.html.twig') }}
{% endblock %}
