<form method="post" action="{{ path('backlog_delete', {'id': backlog.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ backlog.id) }}">

    <div class="btn-group" role="group">
        {% block buttons %}
            {% if is_granted('DELETE', backlog) %}
                <button class="btn btn-danger">Delete</button>
            {% endif %}
        {% endblock %}
    </div>
</form>
