{% extends 'base.html.twig' %}

{% block title %}New Backlog{% endblock %}

{% block body %}
    <a href="{{ path('backlog_index') }}">
        <button class="btn btn-warning mb-3">
            <i class="fas fa-long-arrow-left"></i>Retour
        </button>
    </a>
    <h3 class="mb-4">Ajouter une fonctionnalité</h3>

    {{ include('backlog/_form.html.twig') }}
{% endblock %}
