<nav class="header navbar navbar-light bg-light">
    <a class="navbar-brand">Backlog Product Name</a>
    {#<a href="app_logout">#}
        <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Déconnexion !</button>
    {#</a>#}
</nav>