{% set users = [
    {
        'name': 'test1'
    },
    {
        'name': 'test2'
    },
    {
        'name': 'test3'
    },
    {
        'name': 'test4'
    }
] %}
<div class="sidebar">
    <h4 class="text-center">Dev Team</h4>
    <div class="sidebar__users | w-100">
        {% for user in users %}
            <div class="sidebar__img-container">
                <img class="position-absolute w-100 h-100" src="https://robohash.org/{{ user.name }}" alt="RobotHash{{ user.name }}" title="{{ user.name }}">
            </div>
        {% endfor %}
    </div>
</div>